/* You can add global styles to this file, and also import other style files */
@import "../src/app/stylesheets/variables";

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  color: $color-text;
}

.full-width {
  width: 100%;
}

.cursorPointer {
  cursor: pointer;
}

.mat-dialog-container {
  max-width: 500px;
}
