@import "../../../../stylesheets/buttons";
@import "../../../../stylesheets/variables";

.dialog-content {
  margin-bottom: 40px;
}

.dialog-btn-container {
  justify-content: space-between;
  padding: 0px;
  margin-bottom: 0px;
  min-height: auto;
}

.dialog-btn-container-single {
  justify-content: flex-end;
  padding: 0px;
  margin-bottom: 0px;
  min-height: auto;
}

.dialog-action-btn {
  @extend .blue-btn;
  padding: 0px 40px !important;
}
