@import "./variables";

.mat-button:disabled {
  color: $color-white;
  border: 0px;
}

button:focus {
  outline: 0;
}

.blue-btn {
  border-radius: 5px;
  background-color: $color-light-blue;
  text-align: center;
  padding: 0px 5px;
  cursor: pointer;
  box-shadow: none !important;
  color: $color-white;
}

.blue-btn:hover {
  background-color: $color-light-blue-hover !important;
}

.blue-btn:active {
  background-color: $color-light-blue-active !important;
}

.blue-btn:disabled {
  background-color: $color-light-blue-disabled !important;
  border: 0px;
}
