$color-white: #ffffff;
$color-text: #333;

$color-light-blue: #2389ff;
$color-light-blue-disabled: #2389ff73;
$color-light-blue-hover: #117fff;
$color-light-blue-active: #0075ff;

$color-spinner-background: rgba(255, 255, 255, 0.6);

$color-gray: #cccdce;
$color-light-gray: #f5f5f5;

$color-odd-row: #f9fbfb;
